.leftSidebar {
  position: relative;
  width: 15rem;
}

.leftSidebarSubtitle1 {
  color: #666666;
  font-size: 0.8rem;

}
.leftSidebarSubtitle2 {
  color: #666666;
  font-size: 0.8rem;
  padding-bottom: 0.3rem;
}
.leftSidebarCounters {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.leftSidebarCounters span {
  color: #0b66c2;
  font-weight: 600;
  font-size: 0.8rem;
}
.leftSidebar .imgBackground {
	height: 10vh; 
	object-fit: cover;
}

.leftSidebar .leftSidebarPicture {
	position: relative;
	top: -40px;
  left: 15px;
	text-align: center;
	width: 50%;
	display: flex;
	justify-content: center;
}

.leftSidebar .rounded-circle {
	width: 100px; 

}
.iconsText {
  display: flex;
  gap: 10px;
}
.card>hr {
  margin-right: 0;
  margin-left: 15px;
  width: 200px;
}
.expands {
  font-weight: 200;
  font-size: 0.8rem;
 
}

.profile-card-add-experience-button {
  position: relative;
  width: 100%;
  height: 32px;
margin-top: .4rem;
border: 2px dashed rgb(144, 144, 144); 


}
.profile-card-add-experience-button span {
  font-size: 0.9rem;
  color: gray;
  font-weight: 100;
}
.profile-card-add-experience-button {
  border: 2px dashed black; 
  background-color: transparent; 
  padding: 5px 10px; 
  display: flex; 
  align-items: center; 
  cursor: pointer; 
}

.profile-card-add-experience-button .plus-icon {
  margin-right: 8px; 
}

.profile-card-add-experience-button:hover {
  background-color: #f0f0f0; 
}
